In [35]:
import numpy as np, pandas as pd, os, sqlite3
from datetime import datetime as dt

In [2]:
conn = sqlite3.connect('datalake.db')
cursor = conn.cursor()

In [3]:
# Ensuring tables are present 
res = cursor.execute('''select name from sqlite_master''')
res.fetchall()

[('users',),
 ('receipts',),
 ('sqlite_autoindex_receipts_1',),
 ('brands',),
 ('sqlite_autoindex_brands_1',)]

[('2020-10-30 20:17:59',
  '2020-10-30 20:17:59',
  '2021-03-01 23:17:34',
  '2021-03-01 23:17:34')]

## Data Quality Checks

### 1. Users table

In [45]:
users = pd.read_sql('''
select id as user_id
, active
, date(DATETIME(ROUND(createdDate / 1000), 'unixepoch')) as reg_date
, date(DATETIME(ROUND(lastLogin / 1000), 'unixepoch')) as last_login_date
, signUpSource
, state
from users''', conn, parse_dates=['reg_date', 'last_login_date'])

In [49]:
users.sample(10)

,user_id,active,reg_date,last_login_date,signUpSource,state
244,600987d77d983a11f63cfa92,1,2021-01-21,2021-01-21,Email,WI
472,5fa41775898c7a11a6bcef3e,1,2020-11-05,2021-03-04,Email,None
247,6008f02fb6310511daa4f314,1,2021-01-21,NaT,Email,IL
445,5fc961c3b8cfca11a077dd33,1,2020-12-03,2021-02-26,Email,NH
131,5ffc8f9704929111f6e922bf,1,2021-01-11,2021-01-11,Email,WI
366,60189c74c8b50e11d8454eff,1,2021-02-02,2021-02-02,Email,WI
133,5ffcb47d04929111f6e9256c,1,2021-01-11,2021-01-11,Email,WI
62,5ff5d15aeb7c7d12096d91a2,1,2021-01-06,2021-01-06,Email,WI
237,6008873eb6310511daa4e8eb,1,2021-01-20,2021-01-20,Email,WI
204,6007464b6e64691717e8c1f0,1,2021-01-19,2021-01-19,Email,WI

In [48]:
users.dtypes

user_id                    object
active                      int64
reg_date           datetime64[ns]
last_login_date    datetime64[ns]
signUpSource               object
state                      object
dtype: object

In [52]:
users.isnull().sum()

user_id             0
active              0
reg_date            0
last_login_date    62
signUpSource       48
state              56
dtype: int64

In [51]:
users.isnull().sum()/len(users)

user_id            0.000000
active             0.000000
reg_date           0.000000
last_login_date    0.125253
signUpSource       0.096970
state              0.113131
dtype: float64

In [54]:
#Values of Active Flag
users['active'].value_counts()

1    494
0      1
Name: active, dtype: int64

In [55]:
#Values of State
users['state'].value_counts()

WI    396
NH     20
AL     12
OH      5
IL      3
KY      1
CO      1
SC      1
Name: state, dtype: int64

In [56]:
#values of Signupsource
users['signUpSource'].value_counts()

Email     443
Google      4
Name: signUpSource, dtype: int64

In [62]:
# Checking whether lastlogindate is less than registration date
users.loc[users['last_login_date'] < users['reg_date']]

Empty DataFrame
Columns: [user_id, active, reg_date, last_login_date, signUpSource, state]
Index: []

In [42]:
print('''
Total number of records in users table: {0} \n
Total number of unique users: {1}
      '''.format(users.shape[0], users['user_id'].nunique()))

Total number of records in users table: 495

Total number of unique users: 212

The number of unique users in the users table is 212 only. However the users table has 495 records.
Ideally the table must be unique in terms of id column. 
Upon further inspection it was found out that theses are duplicated rows (other column values being the same). A unique key contraint would have helped to avoid that

### 2. Receipts table

In [60]:
receipts = pd.read_sql('''
select id as receipt_id
,bonusPointsEarned
,bonusPointsEarnedReason
,(DATETIME(ROUND(createDate / 1000), 'unixepoch')) as created_date
,(DATETIME(ROUND(dateScanned / 1000), 'unixepoch')) as scanned_date
,(DATETIME(ROUND(finishedDate / 1000), 'unixepoch')) as finished_date
,(DATETIME(ROUND(modifyDate / 1000), 'unixepoch')) as modify_date
,(DATETIME(ROUND(pointsAwardedDate / 1000), 'unixepoch')) as points_awarded_date
,(DATETIME(ROUND(purchaseDate / 1000), 'unixepoch')) as purchase_date

,pointsEarned
,totalSpent
,rewardsReceiptStatus
,userId as user_id
from receipts''', conn, parse_dates=['created_date', 'scanned_date', 'finished_date',
                                     'modify_date', 'points_awarded_date', 'purchase_date'])

In [61]:
receipts.sample(10)

,receipt_id,bonusPointsEarned,bonusPointsEarnedReason,created_date,scanned_date,finished_date,modify_date,points_awarded_date,purchase_date,pointsEarned,totalSpent,rewardsReceiptStatus,user_id
489,6011f39c0a720f05350000b4,5.0,All-receipts receipt bonus,2021-01-27 23:13:32,2021-01-27 23:13:32,2021-01-27 23:13:38,2021-01-27 23:13:38,2021-01-27 23:13:32,2021-01-26 23:13:31,5.0,1.00,FINISHED,6011f31ea4b74c18d3a8c476
22,5ff1e1ec0a7214ada100056c,150.0,"Receipt number 5 completed, bonus point schedu...",2021-01-03 15:25:32,2021-01-03 15:25:32,2021-01-03 15:25:32,2021-01-03 15:25:37,2021-01-03 15:25:32,2021-01-03 00:00:00,150.0,21.00,FINISHED,5ff1e1eacfcf6c399c274ae6
340,600742490a720f05fa000004,250.0,"Receipt number 3 completed, bonus point schedu...",2021-01-19 20:34:17,2021-01-19 20:34:17,2021-01-19 20:34:18,2021-01-19 20:34:18,2021-01-19 20:34:18,2021-01-16 06:00:00,250.0,25.00,FINISHED,600741d06e6469120a787853
1095,603d760e0a720fde1000048e,NaN,None,2021-03-01 23:17:34,2021-03-01 23:17:34,NaT,2021-03-01 23:17:34,NaT,NaT,NaN,NaN,SUBMITTED,5fc961c3b8cfca11a077dd33
977,6025cf030a7214d8e90002b2,NaN,None,2021-02-12 00:42:43,2021-02-12 00:42:43,NaT,2021-02-12 00:42:43,NaT,NaT,NaN,NaN,SUBMITTED,5fc961c3b8cfca11a077dd33
109,5ff5d2060a720f05230005e1,45.0,COMPLETE_PARTNER_RECEIPT,2021-01-06 15:06:46,2021-01-06 15:06:46,2021-01-06 15:06:47,2021-01-06 15:06:47,2021-01-06 15:06:47,2021-01-06 15:06:46,100.0,0.99,FINISHED,5ff5d15aeb7c7d12096d91a2
202,5ffc9d9d0a720f05c5000042,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-11 18:49:01,2021-01-11 18:49:01,2021-01-11 18:49:02,2021-01-11 18:49:06,2021-01-11 18:49:02,2021-01-11 00:00:00,750.0,26.00,FINISHED,5ffc9d9d04929111f6e9244f
47,5ff29be20a7214ada1000571,25.0,COMPLETE_NONPARTNER_RECEIPT,2021-01-04 04:38:58,2021-01-04 04:38:58,2021-01-04 04:39:06,2021-01-04 04:39:09,2021-01-04 04:39:06,2021-01-03 00:00:00,25.0,1.00,FINISHED,5964eb07e4b03efd0c0f267b
601,6014cfd30a7214ad5000012b,NaN,None,2021-01-30 03:17:39,2021-01-30 03:17:39,NaT,2021-01-30 03:17:39,NaT,NaT,NaN,NaN,SUBMITTED,5fc961c3b8cfca11a077dd33
482,600fb1ec0a7214ada200004f,750.0,"Receipt number 1 completed, bonus point schedu...",2021-01-26 06:08:44,2021-01-26 06:08:44,2021-01-26 06:08:44,2021-01-26 06:08:44,2021-01-26 06:08:44,2021-01-25 06:08:44,755.0,1.00,FINISHED,600fb1ec73c60b1204902af4

In [63]:
receipts.dtypes

receipt_id                         object
bonusPointsEarned                 float64
bonusPointsEarnedReason            object
created_date               datetime64[ns]
scanned_date               datetime64[ns]
finished_date              datetime64[ns]
modify_date                datetime64[ns]
points_awarded_date        datetime64[ns]
purchase_date              datetime64[ns]
pointsEarned                      float64
totalSpent                        float64
rewardsReceiptStatus               object
user_id                            object
dtype: object

In [64]:
receipts.isnull().sum()

receipt_id                   0
bonusPointsEarned          575
bonusPointsEarnedReason    575
created_date                 0
scanned_date                 0
finished_date              551
modify_date                  0
points_awarded_date        582
purchase_date              448
pointsEarned               510
totalSpent                 435
rewardsReceiptStatus         0
user_id                      0
dtype: int64

In [65]:
receipts.isnull().sum()/len(receipts)

receipt_id                 0.000000
bonusPointsEarned          0.513852
bonusPointsEarnedReason    0.513852
created_date               0.000000
scanned_date               0.000000
finished_date              0.492404
modify_date                0.000000
points_awarded_date        0.520107
purchase_date              0.400357
pointsEarned               0.455764
totalSpent                 0.388740
rewardsReceiptStatus       0.000000
user_id                    0.000000
dtype: float64

In [68]:
receipts['rewardsReceiptStatus'].value_counts()

FINISHED     518
SUBMITTED    434
REJECTED      71
PENDING       50
FLAGGED       46
Name: rewardsReceiptStatus, dtype: int64

In [74]:
receipts['isPointsGiven'] = np.where(receipts['pointsEarned'].isnull(),0,1)

In [75]:
receipts.groupby(['rewardsReceiptStatus'])['isPointsGiven'].agg(['count', 'sum'])

                      count  sum
rewardsReceiptStatus
FINISHED                518  518
FLAGGED                  46   33
PENDING                  50    0
REJECTED                 71   58
SUBMITTED               434    0

In [80]:
#Checking if points awarded date is less than scanned_date
receipts.loc[receipts['points_awarded_date']< receipts['scanned_date']]

Empty DataFrame
Columns: [receipt_id, bonusPointsEarned, bonusPointsEarnedReason, created_date, scanned_date, finished_date, modify_date, points_awarded_date, purchase_date, pointsEarned, totalSpent, rewardsReceiptStatus, user_id, isPointsGiven]
Index: []

In [83]:
print("Earliest Scan Date: ", receipts['scanned_date'].min(), 
      ", Latest Scan Date: ", receipts['scanned_date'].max())

Earliest Scan Date:  2020-10-30 20:17:59 , Latest Scan Date:  2021-03-01 23:17:34

In [67]:
receipts.loc[~receipts['user_id'].isin(list(users['user_id'])), 'user_id'].nunique()

117

There are 117 users who are not present in the users table. Ideally, the userIds in receipts table should be a subset of all user ids present in the users table.

## Analyses

### 1. What are the top 5 brands by receipts scanned for most recent month?

The receipts scan dates lie in thrange of October 30,2020 to March 1, 2021. Since the month of March has not been completed, we should assume the most recent month to be Feb-2021.

In [114]:
brands_scan = pd.read_sql('''
select rec.id, userId, coalesce(upper(b.name), upper(rec.description)) as brand_name, b.categoryCode, b.topBrand
,description, scanned_date, created_date, finished_date
from (
select r.id, r.UserId 
,CAST(JSON_EXTRACT(j.value, '$.barcode') as VARCHAR) as barcode 
,CAST(JSON_EXTRACT(j.value, '$.rewardsProductPartnerId') as VARCHAR) as rewardsProductPartnerId 
,CAST(JSON_EXTRACT(j.value, '$.description') as VARCHAR) as description 
,DATETIME(ROUND(dateScanned / 1000), 'unixepoch') as scanned_date
,DATETIME(ROUND(createDate / 1000), 'unixepoch') as created_date
,DATETIME(ROUND(finishedDate / 1000), 'unixepoch') as finished_date
from receipts r, json_each(rewardsReceiptItemList) j
--where DATE(DATETIME(ROUND(dateScanned / 1000), 'unixepoch'), 'start of month') in (date('2021-01-01'),date('2021-02-01'))
) rec 
left join brands b
on rec.rewardsProductPartnerId = b.cpg_id''', conn, parse_dates=['reg_date', 'last_login_date'])

In [115]:
brands_scan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142700 entries, 0 to 142699
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             142700 non-null  object
 1   UserId         142700 non-null  object
 2   brand_name     142047 non-null  object
 3   categoryCode   2348 non-null    object
 4   topBrand       137460 non-null  float64
 5   description    139791 non-null  object
 6   scanned_date   142700 non-null  object
 7   created_date   142700 non-null  object
 8   finished_date  136782 non-null  object
dtypes: float64(1), object(8)
memory usage: 9.8+ MB

In [116]:
brands_scan.isnull().sum()

id                    0
UserId                0
brand_name          653
categoryCode     140352
topBrand           5240
description        2909
scanned_date          0
created_date          0
finished_date      5918
dtype: int64

In [117]:
brands_scan['brand_name'].value_counts()

DIGIORNO CHEESE                            881
COOL WHIP                                  879
GREY POUPON                                878
CAPRI SUN                                  878
CHEEZ WHIZ                                 878
                                          ...
HYVLFORANGECREAM                             1
HYV LFPEACHYOGURT                            1
HYVLFVANILLAYOGUR                            1
ORE-IDAGOLDENTATER                           1
BERRY STRAWBERRY CONVENTIONAL, 16 OUNCE      1
Name: brand_name, Length: 1993, dtype: int64

In [109]:
brands_scan['brand_name'].fillna('ITEM NOT FOUND', inplace=True)

In [111]:
brands_scan.loc[brands_scan['brand_name'].str.contains('[a-z]',regex=True), 'description'].value_counts()

flipbelt level terrain waist pouch, neon yellow, large/32-35                                                                                                   50
thindust summer face mask - sun protection neck gaiter for outdooractivities                                                                                   44
mueller austria hypergrind precision electric spice/coffee grinder millwith large grinding capacity and hd motor also for spices, herbs, nuts,grains, white    44
Green Bell Peppers                                                                                                                                             26
Laura's Lean Beef Ground Beef 93% Lean & Natural                                                                                                               25
                                                                                                                                                               ..
Simple Truth Organic Green Beans                                                                                                                                1
Simple Truth Organic Fat Free Vegetable Broth                                                                                                                   1
Peppers Organic Mini Sweet                                                                                                                                      1
Ground Turkey                                                                                                                                                   1
Berry Strawberry Conventional, 16 Ounce                                                                                                                         1
Name: description, Length: 263, dtype: int64

In [105]:
brands_scan.loc[(brands_scan['brand_name'].isnull()) & (brands_scan['description'].notnull()),'description'].value_counts()

Series([], Name: description, dtype: int64)

In [84]:
res = cursor.execute('''

select r.id, r.UserId 
,CAST(JSON_EXTRACT(j.value, '$.barcode') as VARCHAR) as barcode 
,CAST(JSON_EXTRACT(j.value, '$.rewardsProductPartnerId') as VARCHAR) as rewardsProductPartnerId 
,DATETIME(ROUND(dateScanned / 1000), 'unixepoch') as scanned_date
,DATETIME(ROUND(createDate / 1000), 'unixepoch') as created_date
,DATETIME(ROUND(finishedDate / 1000), 'unixepoch') as finished_date
from receipts r, json_each(rewardsReceiptItemList) j
where DATE(DATETIME(ROUND(dateScanned / 1000), 'unixepoch'), 'start of month') = date('2021-02-01')
) rec 
left join brands b
on rec.rewardsProductPartnerId = b.cpg_id
''')
res.fetchall()

[(None, 485),
 ('Yuban Coffee', 11),
 ("Wyler's", 11),
 ('Wild Style Sauce', 11),
 ('Velveeta Shells', 11)]

In [30]:
res = cursor.execute('''
select flag, count(distinct barcode) as codecnt from (
select barcode
,(case when barcode in (select distinct barcode from brands) then 1 else 0 end) as flag
from (
select 
CAST(JSON_EXTRACT(j.value, '$.barcode') as VARCHAR) as barcode  
from receipts r, json_each(rewardsReceiptItemList) j
--where barcode not in (select distinct barcode from brands)
)
) group by flag
''')
res.fetchall()

[(0, 552), (1, 16)]

In [32]:
res = cursor.execute('''
select count()
select r.id
,CAST(JSON_EXTRACT(j.value, '$.barcode') as VARCHAR) as barcode  
,CAST(JSON_EXTRACT(j.value, '$.pointsPayerId') as VARCHAR) as pointsPayerId
,CAST(JSON_EXTRACT(j.value, '$.rewardsProductPartnerId') as VARCHAR) as rewardsProductPartnerId
from receipts r, json_each(rewardsReceiptItemList) j
where barcode not in (select distinct barcode from brands)

''')
res.fetchall()

[('4011',),
 ('028400642255',),
 ('1234',),
 ('046000832517',),
 ('013562300631',),
 ('034100573065',),
 ('075925306254',),
 ('041000168468',),
 ('2700719497082',),
 ('079400066619',),
 ('051500720011',),
 ('087684001127',),
 ('071040063102',),
 ('029000079236',),
 ('041129002292',),
 ('043000946060',),
 ('044700009888',),
 ('021000012961',),
 ('021000678358',),
 ('044700033302',),
 ('021000059232',),
 ('043000004944',),
 ('759283400082',),
 ('025800000135',),
 ('043000043486',),
 ('029000024748',),
 ('044700002810',),
 ('043000079904',),
 ('044000000745',),
 ('046704085905',),
 ('021000057832',),
 ('021000002917',),
 ('044700019917',),
 ('043000035818',),
 ('070085046583',),
 ('044700073377',),
 ('021000055920',),
 ('021000051885',),
 ('022174070214',),
 ('043000012871',),
 ('043000077467',),
 ('043000008836',),
 ('021000068364',),
 ('021000013869',),
 ('044700030479',),
 ('041258081601',),
 ('043000075821',),
 ('021000667543',),
 ('013120013966',),
 ('021000068760',),
 ('070277290107',),
 ('041129088005',),
 ('013000993906',),
 ('043000065198',),
 ('021000050765',),
 ('021000032778',),
 ('043000046814',),
 ('686924560242',),
 ('021000051113',),
 ('021000070787',),
 ('043000058145',),
 ('044700074602',),
 ('021000007561',),
 ('043000013229',),
 ('043000000960',),
 ('013000657600',),
 ('017696004519',),
 ('012000809941',),
 ('028400642033',),
 ('036000391718',),
 ('044700092408',),
 ('043000023440',),
 ('029000016187',),
 ('021000001361',),
 ('029000020344',),
 ('043000009604',),
 ('021000024834',),
 ('071159020195',),
 ('043000204399',),
 ('021908236865',),
 ('043000060544',),
 ('021000034574',),
 ('043000057162',),
 ('044700096284',),
 ('686924155783',),
 ('016000156234',),
 ('305210154278',),
 ('001111132666',),
 ('089203700016',),
 ('079400245328',),
 ('001111147332',),
 ('079400236425',),
 ('016000493025',),
 ('043000066706',),
 ('043000000175',),
 ('043000082294',),
 ('043000955628',),
 ('072785048119',),
 ('043000206515',),
 ('043000061978',),
 ('044700071533',),
 ('025800026302',),
 ('021000007660',),
 ('070085035006',),
 ('686924820858',),
 ('798813118547',),
 ('077567000637',),
 ('021000068159',),
 ('021000648863',),
 ('029000023666',),
 ('043000078488',),
 ('043000071182',),
 ('043000062760',),
 ('021000725403',),
 ('021000024858',),
 ('044700076422',),
 ('051600001003',),
 ('076840100354',),
 ('311111511867',),
 ('041000022623',),
 ('076840580750',),
 ('028435383253',),
 ('070470137735',),
 ('011111326231',),
 ('043000000199',),
 ('822142991523',),
 ('043000043790',),
 ('036632011077',),
 ('075706191031',),
 ('019600920106',),
 ('028189000079',),
 ('754500326305',),
 ('058496723002',),
 ('058449450023',),
 ('075450093070',),
 ('048500256763',),
 ('4816',),
 ('4166',),
 ('075450120400',),
 ('754500797204',),
 ('075450085150',),
 ('071007023095',),
 ('072310001459',),
 ('754502285808',),
 ('041390024368',),
 ('043000716021',),
 ('044500341720',),
 ('754500958803',),
 ('024105590051',),
 ('21251000000',),
 ('4060',),
 ('048500052020',),
 ('4069',),
 ('4093',),
 ('754500973400',),
 ('075450079760',),
 ('754500947807',),
 ('039400015031',),
 ('025500204215',),
 ('754501311409',),
 ('754500355602',),
 ('018627030010',),
 ('041000004087',),
 ('021000604647',),
 ('071146002487',),
 ('754501734109',),
 ('071430010051',),
 ('754500638101',),
 ('305731769135',),
 ('048000007070',),
 ('015300430594',),
 ('009800300037',),
 ('754500990209',),
 ('014113911979',),
 ('028800296737',),
 ('071100007299',),
 ('036632037541',),
 ('036632013095',),
 ('084114111722',),
 ('014113910026',),
 ('815473013279',),
 ('028400643061',),
 ('689544081937',),
 ('037000979715',),
 ('085718300512',),
 ('078742112138',),
 ('633472322587',),
 ('029000019034',),
 ('052100587967',),
 ('078742348315',),
 ('042222302005',),
 ('681131122764',),
 ('857484001159',),
 ('689544083405',),
 ('887214041018',),
 ('045255148947',),
 ('681131091206',),
 ('026542084018',),
 ('068113135477',),
 ('041235000687',),
 ('037466017631',),
 ('076828048432',),
 ('021000040247',),
 ('021000612239',),
 ('078000082401',),
 ('013120014178',),
 ('075706304783',),
 ('036000485967',),
 ('000980000069',),
 ('078742052328',),
 ('041483022226',),
 ('078742333960',),
 ('015800030621',),
 ('007874242956',),
 ('078742372198',),
 ('754500947500',),
 ('754501315209',),
 ('041500220208',),
 ('754500024805',),
 ('754500486009',),
 ('038000924224',),
 ('611443010787',),
 ('046000721835',),
 ('014100095071',),
 ('043000285213',),
 ('030100001331',),
 ('041289895406',),
 ('021000024926',),
 ('4759',),
 ('3332',),
 ('4608',),
 ('016000363779',),
 ('311111242129',),
 ('754500363409',),
 ('884912006806',),
 ('605806001307',),
 ('011110916600',),
 ('082242012362',),
 ('046000400280',),
 ('073410955505',),
 ('046000288697',),
 ('4225',),
 ('075856000269',),
 ('26623200000',),
 ('305731769203',),
 ('22',),
 ('043000041994',),
 ('043000068649',),
 ('021000051038',),
 ('043000063897',),
 ('029000016705',),
 ('044700096321',),
 ('044700070840',),
 ('070085038403',),
 ('044700065617',),
 ('043000971635',),
 ('686924113172',),
 ('043000075340',),
 ('021000054862',),
 ('021000679201',),
 ('087684002872',),
 ('071871542067',),
 ('025800000524',),
 ('013000010917',),
 ('013000000635',),
 ('029000021273',),
 ('071040063188',),
 ('021000054961',),
 ('021000007363',),
 ('019582000117',),
 ('021000604906',),
 ('021000644551',),
 ('043000204443',),
 ('021000029778',),
 ('044700072813',),
 ('044700087145',),
 ('044700087329',),
 ('016000151024',),
 ('077567304124',),
 ('044700064238',),
 ('013120000843',),
 ('021000006106',),
 ('012000809965',),
 ('005111116022',),
 ('311111536044',),
 ('074682200294',),
 ('011594404013',),
 ('013000006187',),
 ('021000065547',),
 ('311111806949',),
 ('012000810022',),
 ('815473010360',),
 ('013000798952',),
 ('044700071748',),
 ('043000032275',),
 ('044700024119',),
 ('028400081382',),
 ('021000046904',),
 ('053000069867',),
 ('012000004919',),
 ('815473012357',),
 ('036000119749',),
 ('048001154032',),
 ('041000022906',),
 ('016300165912',),
 ('028400641326',),
 ('028400003988',),
 ('029000074361',),
 ('043000061732',),
 ('021000068036',),
 ('686924291290',),
 ('025800000159',),
 ('021000633609',),
 ('030000562383',),
 ('737628011506',),
 ('021000615315',),
 ('015000056087',),
 ('4068',),
 ('021000039340',),
 ('94094',),
 ('896859000489',),
 ('036000478044',),
 ('016000496361',),
 ('013800190215',),
 ('048001213517',),
 ('025500202310',),
 ('311111452382',),
 ('021834033316',),
 ('23572500000',),
 ('012000106057',),
 ('012000000171',),
 ('012000010736',),
 ('043000050910',),
 ('071100211474',),
 ('4540',),
 ('4090',),
 ('612669316714',),
 ('041129411506',),
 ('311111603920',),
 ('044000043254',),
 ('048001154049',),
 ('071100006681',),
 ('021000065127',),
 ('044700098752',),
 ('4061',),
 ('311111705006',),
 ('044700061909',),
 ('021000026999',),
 ('4066',),
 ('021000701445',),
 ('4562',),
 ('016000877009',),
 ('052100625348',),
 ('025500005188',),
 ('029000017986',),
 ('023400022212',),
 ('041695151721',),
 ('071100200058',),
 ('072310001244',),
 ('044000034030',),
 ('044000051051',),
 ('072220001808',),
 ('016000854307',),
 ('311111434807',),
 ('016000126855',),
 ('020709100139',),
 ('021000037490',),
 ('022000014252',),
 ('029000073692',),
 ('311111149350',),
 ('071100309744',),
 ('311111445421',),
 ('041800200139',),
 ('070158008678',),
 ('861745000010',),
 ('4662',),
 ('041235000328',),
 ('4614',),
 ('013120002588',),
 ('070492140003',),
 ('051700788262',),
 ('041483030917',),
 ('311111208538',),
 ('020169222341',),
 ('074904100104',),
 ('011110876942',),
 ('011110857132',),
 ('052100037509',),
 ('029000016156',),
 ('044600020020',),
 ('041321006357',),
 ('041695951130',),
 ('037466016023',),
 ('016000123151',),
 ('4023',),
 ('3435',),
 ('011110973009',),
 ('011110847454',),
 ('034695123621',),
 ('051611165893',),
 ('071279275024',),
 ('076840400218',),
 ('071430000724',),
 ('016000124790',),
 ('3283',),
 ('94023',),
 ('4072',),
 ('013800100320',),
 ('4563',),
 ('070446400009',),
 ('029000021723',),
 ('041196277470',),
 ('076001350437',),
 ('4053',),
 ('013800104083',),
 ('071100007077',),
 ('074714086827',),
 ('021000744152',),
 ('085000015889',),
 ('046704096802',),
 ('043000956113',),
 ('044700075302',),
 ('077661120460',),
 ('034000056644',),
 ('011110916068',),
 ('021000069293',),
 ('021000068883',),
 ('025155000149',),
 ('043000062753',),
 ('759283001890',),
 ('043000000342',),
 ('016000437760',),
 ('021000045129',),
 ('038000052200',),
 ('038000138577',),
 ('041695103799',),
 ('053800123004',),
 ('23671200000',),
 ('764025930000',),
 ('889714000038',),
 ('076840100477',),
 ('070800179329',),
 ('042222336413',),
 ('012000171864',),
 ('049000012781',),
 ('049000010633',),
 ('051000228895',),
 ('078000010367',),
 ('044000039905',),
 ('071142004089',),
 ('050000274444',),
 ('071840205009',),
 ('077661137833',),
 ('767707013299',),
 ('078300054764',),
 ('4131',),
 ('034000040476',),
 ('021000054473',),
 ('043000079232',),
 ('029000020351',),
 ('043000200520',),
 ('044700009000',),
 ('041129412152',),
 ('013000798303',),
 ('021000043552',),
 ('087684009000',),
 ('029000019201',),
 ('792851356565',),
 ('044700073933',),
 ('043000003596',),
 ('021000054190',),
 ('021131506940',),
 ('780993107565',),
 ('074714086643',),
 ('4135',),
 ('857183005120',),
 ('041449001401',),
 ('026800001924',),
 ('21075100000',),
 ('041129634608',),
 ('070221006693',),
 ('021000642182',),
 ('041129000052',),
 ('021000049318',),
 ('041244000098',),
 ('037000889427',),
 ('4078',),
 ('048001412538',),
 ('212245400006',),
 ('011110603746',),
 ('011110974525',),
 ('041260362873',),
 ('021000658831',),
 ('4067',),
 ('044300107700',),
 ('011110073747',),
 ('20750000000',),
 ('077298000043',),
 ('021000068852',),
 ('021000055005',),
 ('044700031711',),
 ('029000015630',),
 ('5000111047524',),
 ('043000081099',),
 ('043000005217',),
 ('049900000345',),
 ('044700087558',),
 ('021000037186',),
 ('029000012578',),
 ('025400076363',),
 ('043000204405',),
 ('2700710686201',),
 ('016000147096',),
 ('036000320893',),
 ('036000495737',),
 ('036000432190',),
 ('070470400235',),
 ('043000081501',),
 ('048121229030',),
 ('041449402529',),
 ('021000052363',),
 ('043000006283',),
 ('021000018710',),
 ('036000162905',),
 ('016000898264',),
 ('007940018942',),
 ('021000049325',),
 ('025800020300',),
 ('021000024582',),
 ('600699001564',),
 ('016000128620',),
 ('070470149394',),
 ('043000080443',),
 ('013000009263',),
 ('021000045006',),
 ('029000019416',),
 ('087684009338',),
 ('021000054602',),
 ('043000058404',),
 ('087684004449',),
 ('036000494129',),
 ('021000024674',),
 ('013000799102',),
 ('043000048528',),
 ('021000030453',),
 ('071159001750',),
 ('042800108005',),
 ('B076FJ92M4',),
 ('B07BRRLSVC',),
 ('B08BGBHHP6',),
 ('B08DQDHR2S',),
 ('665290001184',)]