In [1]:
import numpy as np, pandas as pd, os, json, ast
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',100)

In [2]:
users = pd.read_json('./users.json', lines=True, orient='columns')
users

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
...,...,...,...,...,...,...,...
490,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
491,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
492,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
493,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN
494,{'$oid': '54943462e4b07e684157a532'},True,{'$date': 1418998882381},{'$date': 1614963143204},fetch-staff,NaN,NaN

In [ ]:
# users['_id'] = users['_id'].apply(lambda x: x['$oid'])
# users['createdDate'] = users['createdDate'].apply(lambda x: x['$date'])
# users['lastLogin'].fillna("{'$date':}",inplace=True)

In [11]:
users.isnull().sum()

_id              0
active           0
createdDate      0
lastLogin        0
role             0
signUpSource    48
state           56
dtype: int64

In [8]:
users.dtypes

_id             object
active            bool
createdDate      int64
lastLogin       object
role            object
signUpSource    object
state           object
dtype: object

TypeError: string indices must be integers

In [10]:
users.loc[users['lastLogin'].isnull()]

Empty DataFrame
Columns: [_id, active, createdDate, lastLogin, role, signUpSource, state]
Index: []

In [72]:

users.to_sql()

ValueError: malformed node or string: {'$date': 1609687537858}

0      False
1      False
2      False
3      False
4      False
       ...
490    False
491    False
492    False
493    False
494    False
Name: lastLogin, Length: 495, dtype: bool